{% extends "base.html.twig" %}

{% block body %}
	{% include "components/_navbar.html.twig" %}

	<div class="container">
		<h1>{{ offer.title }}</h1>
		<img src="{{ offer.image }}" alt="">
	</div>
{% endblock %}
